@page
@model Courses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorIds" class="control-label"></label>
                <select asp-for="InstructorIds" class="form-control" multiple="multiple" asp-items="ViewBag.InstructorIds"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentIds" class="control-label"></label>
                <select asp-for="StudentIds" class="form-control" multiple="multiple" asp-items="ViewBag.StudentIds"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentIds" class="control-label"></label>
                <select asp-for="AssignmentIds" class="form-control" multiple="multiple" asp-items="ViewBag.AssignmentIds"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
